@font-face {
	font-family: "Arial";
	src: url(Arial.eot);
	src: local("Arial"), url("Arial.ttf") format("truetype");
}
body {
	padding: 0;
	margin: 0;
	text-align: center;
}
ul {
	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	background-color: red;
    	z-index: 10000;
    	position: fixed;
    	width: 100%;
    	max-height: 10%;
}
li {
    	display: inline-block;
    	z-index: 10000;
    	max-width: 10%;
    	padding: 1% 1.5%;
}
li a, .dropbtn {
    	display: inline-block;
    	color: white;
    	text-align: center;
    	text-decoration: none;
    	z-index: 10000;
}
li a:hover, .dropdown:hover .dropbtn {
    	z-index: 10000;
    	color: gray;
    	transition-duration: 0.01s;
}
li.dropdown {
    	display: inline-block;
    	z-index: 10000;
}
.dropdown-content {
    	display: none;
    	position: absolute;
    	background-color: red;
    	min-width: 155px;
    	z-index: 10000;
    	padding-top: 1%;
    	left: 43.7%;
}
.dropdown-content a {
    	color: white;
    	padding: 6% 13%;
    	text-decoration: none;
    	display: block;
    	text-align: left;
    	z-index: 10000;
}
.dropdown-content a:hover {color: gray; z-index: 10000; transition-duration: 0.01s;}
.dropdown:hover .dropdown-content {
    	display: block;
    	z-index: 10000;
    	transition-duration: 0.01s;
